.adminPosterPage {
    padding: 20px;
  }
  
  .addButtonWrapper {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 40px;
  }
  
  .addButton {
    display: flex;
    align-items: flex-end;
  }
  
  .posterTable {
    margin-top: 20px;
  }
  
  .posterImage {
    max-width: 200px;
    max-height: 130px;
    align-items: center;
  }
  .title{
    margin-top: 40px;
  }