.mainContainer {
  padding: 20px;
  background-color: #f8f9fa;
}

h2 {
  margin-top: 20px;
  margin-bottom: 20px;
}

h3 {
  margin-top: 10px;
  margin-bottom: 10px;
}

p {
  margin-bottom: 20px;
  font-size: 20px !important;
  line-height: 1.5;
}

.userMain img {
  margin-bottom: 20px;
  max-width: 550px;
  height: 340px;
}
